* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    max-width: 600px;
}

.base {
    display: flex;
    height: calc(70vw/16);
    width: calc(100%/16);
    max-height: calc(600px/16);
}

.hover {
    background-color: black;
}

button {
    width: 120px;
    margin: 10px;
}